.DS_Store
build/
dist/
node_modules/
.secret-*
**.sample
frontend/src/ui-components
frontend/ui-components
frontend/.yarn
frontend/sonar-project.js
frontend/tsconfig.tsbuildinfo

# Cleanup script artifacts
*.bak
frontend/src/archived_legacy_components/
**/archived_unused_code
copilot_reports/*
.husky/