#text {
	font-family: Consolas, Lucida Console, monospace;
	font-size: 90%;
}

span.clickable {
	color: #d7dae0;
	cursor: pointer;
	&:hover {
		text-decoration: underline;
	}
}

#create-element {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(255, 255, 255, 0.95);
	z-index: 1000;
	animation: animationBgOverlay ease-out 0.2s;
	animation-fill-mode: both;
	animation-iteration-count: 1;

	#close {
		position: absolute;
		top: 130px;
		right: 80px;
		animation-duration: 0.1s;
		animation: animationFadeInDown ease-out 0.2s;
		animation-fill-mode: backwards;
		animation-iteration-count: 1;

		#cross {
			cursor: pointer;
			.svg-icon {
				width: 3em;
				height: 3em;
			}

			.svg-icon path,
			.svg-icon polygon,
			.svg-icon rect {
				fill: rgba(155, 153, 175, 1);
			}
		}
	}

	#create-entry {
		position: absolute;
		width: 400px;
		list-style: none;
		margin: 0;
		padding: 0;
		left: 50%;
		top: 40%;
		margin-left: -185px;
		animation-duration: 0.1s;
		animation: animationFadeInDown ease-out 0.2s;
		animation-fill-mode: backwards;
		animation-iteration-count: 1;

		.btn-group {
			position: absolute;
			top: 20%;
			cursor: pointer;
			left: -80px;
		}

		.dropdown-menu {
			&.show {
				overflow-y: scroll;
				height: 300px;
			}
		}

		input {
			padding: 20px;
			width: 100%;
			font-size: 1.8em;
			border: 0;
			border-bottom: 1px solid blue;
			background: #f6f6f6;
			border-radius: 10px;
			&:focus-visible {
				outline: 0;
			}
		}

		span {
			margin-top: 12px;
			display: block;
			text-align: center;
		}

		#add {
			position: absolute;
			top: 20%;
			cursor: pointer;
			right: -15%;
			animation-duration: 0.1s;
			animation: animationFadeInDown ease-out 0.2s;
			animation-fill-mode: backwards;
			animation-iteration-count: 1;

			#done {
				.svg-icon {
					width: 3em;
					height: 3em;
				}

				.svg-icon path,
				.svg-icon polygon,
				.svg-icon rect {
					fill: rgb(30, 177, 54);
				}
			}
		}
	}
}

.draggable {
	.submapLink {
		-webkit-transition: 2s;
		-moz-transition: 2s;
		-o-transition: 2s;
		transition: 2s;
		opacity: 0;
		visibility: hidden;
	}

	&:hover {
		.submapLink {
			-webkit-transition: 0.3s;
			-moz-transition: 0.3s;
			-o-transition: 0.3s;
			transition: 0.3s;
			opacity: 1;
			visibility: visible;
		}
	}
}

.submapLink {
	cursor: pointer;
}

#owm-build {
	color: #cbbde2;
	margin-right: 10px;
	font-size: 10px;
}

.draggable {
	cursor: move;
}

#usage {
	margin-top: 20px;
}

.map-view {
	padding-left: 0;
	h5 {
		text-align: center;
	}
}

.app {
	.editor {
		padding: 0;
		background-color: #e9ecef;
	}
}
div.main {
	background-color: white;
	overflow: hidden;
	border-bottom: 1px solid #6c757d;
}

.breadcrumb {
	padding: 2px 1rem;
	font-size: 0.85rem;
	border-bottom: 1px solid #6c757d;
	.jumbotron {
		height: 682px;
		padding: 5px;
		margin-bottom: 2px;
	}
}

.tool-bar {
	background: #e9ecef;
	padding: 5px;
	border-left: 1px solid #6c757d;
	.jumbotron {
		height: 682px;
		padding: 5px;
		margin-bottom: 2px;
	}
}

.collapsing {
	position: relative;
	height: 0;
	overflow: hidden;
	transition: height 0.35s;

	&.width {
		// flex-grow: 0;
		// min-width: 0;
		transform: translate(100%);
		// width: 0;
		height: auto;
		transition: all 1s;
	}

	// &> .contents{
	// 	width: 500px;
	// 	overflow: hidden;
	// }
}

#controlsMenuControl button {
	margin: 0 2px;
}

.row.usage {
	.col {
		padding-left: 10px;
	}
}

#title {
	margin-bottom: 0;
	margin-top: 5px;
}

#svgMap {
	padding: 10px;
	user-select: none;
}

.subnav {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	background-color: #e9ecef;
	border-bottom: 1px solid #6c757d;
	border-radius: 0.25rem;
}

.subnav button {
	margin: 0 2px;
}

.breadcrumb {
	padding: 2px 1rem;
	font-size: 0.85rem;
}

ol.breadcrumb {
	margin-bottom: 0;
}
nav.bc {
	overflow: hidden;
}

nav.navbar {
	background-color: #563d7c;
	padding: 0.4rem 0rem;
	h3 {
		font-size: 1.3rem;
		margin: 0;
	}

	button {
		font-size: 14px;
		line-height: 1.1;
	}
}

#text {
	height: 682px;
}

#htmPane {
	background: #e9ecef;
	padding: 5px;
	border-right: 1px solid #6c757d;

	.jumbotron {
		height: 682px;
		padding: 5px;
		margin-bottom: 2px;
	}
}

.col {
	&.resizeable {
		resize: horizontal;
		overflow: auto;
	}
}

#meta-container {
	#meta {
		height: 120px;
	}
}

footer {
	background-color: #24292e;
	font-size: 86%;
	p {
		color: #b5b5b5;
	}
	a {
		color: white;
		&:hover {
			color: hsla(0, 0%, 100%, 0.7);
			text-decoration: none;
		}
	}
	.gh-icon {
		fill: white;
	}
}

body.dark {
	color: #9da5b4;
	background-color: #282c34;
	nav.navbar {
		background-color: #2f333d;
		#owm-build {
			color: #9da5b4;
		}
	}
	h5#title {
		color: black;
	}
	nav.bc {
		ol.breadcrumb {
			background-color: #21252b;
			color: #9da5b4;
			a#url {
				color: #d7dae0;
			}
		}
	}

	div.main {
		background-color: white;
		overflow: hidden;
		border-bottom: 1px solid #6c757d;
	}

	div.map-view {
		background-color: white;
	}

	#htmPane {
		//background: #282c34;
	}
}
